.card-header{
    background-color: #6037a9;
}

.buttonF{
    background-color: #6037a9!important;
}

.buttonF:hover{
    background-color: white!important;
    color:#6037a9!important;
    border-color: #6037a9!important;
    transition: 0.4s;
}

.card{
    border-color: #4C288A;
    border-width: 1px;
}

.form-control:focus {
    /* Elimina el resaltado predeterminado */
     box-shadow: 0 0 10px 0px #ba74ff;
     border-color: rgb(46, 9, 68); /* Agrega un borde sombreado de color rojo al hacer foco */
 }

 .form-select:focus{
    
    box-shadow: 0 0 10px 0px #ba74ff;
    border-color: rgb(46, 9, 68); 
 }

 .boton{
    background-color: white;
    border-color: #4C288A;
    border-width: 2px;
    color: #4C288A;
}

.boton:hover{

    background-color: white;
    filter: brightness(85%);
}

.error-placeholder::placeholder {
    color: #4C288A;
  }

.bg_purple{
    background-color: #0E0129;
}

.bi-pencil-square{
    font-size: calc(3vh);
}

.texts{
    font-size: calc(3vh);
}

.grabadas{
    background-color: #3B216F!important;
}

.border-warning{
    border-color: #9965dd!important;
    border-width: 1px!important;
}