<section class="min-vh-100 bg_color col-12">
    <app-header (activateSlideVar)="slideActivate($event)" class="h_13 col-12 fixed-top"></app-header>
    <div class="d-flex col-12">
        <div class="col-6 col-sm-4 col-md-2 h_87 d-md-flex " *ngIf="slideDatos">
            <app-slide-var  (activateSectionUsers)="modalActivateUser($event)" (activateSectionContents)="modalActivateContent($event)" (activateSectionBooks)="modalActivateBook($event)" (activateSectionExercises)="modalActivateExercises($event)" (activaSectionClasses)="modalActivateClasses($event)" (activaSectionPrerecordeds)="modalActivatePrerecordeds($event)"
            class="" [datosUser1]="sectionUser" [datosContent1]="sectionContent" [datosBooks1]="sectionBook" [datosExercises1]="sectionExercises" [datosClass1]="sectionClass" [datosPrerecorded1]="sectionPrerecorded" class="col-12"></app-slide-var>
        </div>
        <div [ngClass]="{'col-12': datosPrueba, 'col-10' : !datosPrueba}" class="d-flex flex-column p-5 h_88 bg-white">
            <div class="col-12" *ngIf="startA">
                <app-start-a></app-start-a>
            </div>
            <div class="col-12"  >
                <app-usuarios *ngIf="sectionUser"></app-usuarios>
            </div>
            <div class="col-12">
                <app-contenido-curso  *ngIf="sectionContent"></app-contenido-curso>
            </div>
            <div class="col-12">
                <app-libros *ngIf="sectionBook"></app-libros>
            </div>
            <div class="col-12">
                <app-ejercicios-clase *ngIf="sectionExercises"></app-ejercicios-clase>
            </div>
            <div class="col-12">
                <app-clases-pregrabadas *ngIf="sectionPrerecorded"></app-clases-pregrabadas>
            </div>
            <div class="col-12">
                <app-clases-grabadas *ngIf="sectionClass"></app-clases-grabadas>
            </div>
        </div>
    </div>
</section>

