<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="card mb-5 col-12">
        <div class="card-header py-3 text-center text-white fs-5">
            Registro de Usuarios
        </div>
        <div class="card-body p-5">
          <form *ngIf="!editUserDomain" (submit)="createUser()" [formGroup]="userForm">
            <div class="row mb-3">
              <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  formControlName="name"  [placeholder]="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched ? 'El nombre es obligatorio.' : ''"
                [ngClass]="{'error-placeholder': userForm.get('name')?.hasError('required') && userForm.get('name')?.touched}">
                
              </div>
            </div>
            <div class="row mb-3">
              <label for="email" class="col-sm-2 col-form-label">Correo Electronico:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" formControlName="email"  
                [placeholder]="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched ? 'El correo electrónico es obligatorio y debe contener @.' : ''"
                [ngClass]="{'error-placeholder': userForm.get('email')?.hasError('required') && userForm.get('email')?.touched}">
              </div>
            </div>
            <div class="row mb-3">
              <label for="password" class="col-sm-2 col-form-label">Contraseña:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" formControlName="password"
                [placeholder]="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched ? 'La contraseña es obligatoria.' : ''"
                [ngClass]="{'error-placeholder': userForm.get('password')?.hasError('required') && userForm.get('password')?.touched}">
              </div>
            </div>
            <div class="row mb-3">
              <label for="level" class="col-sm-2 col-form-label only">Nivel:</label>
              <div class="col-sm-10">
                <select class="form-select" formControlName="level">
                  <option *ngFor="let nivel of niveles" [value]="nivel.value" [selected]="nivel.value === nivelSeleccionado">
                    {{ nivel.label }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Estados:</label>
              <div class="col-sm-10">
                <select class="form-select" formControlName="status">
                  <option *ngFor="let estado of estados" [value]="estado.value" [selected]="estado.value === 'true'">
                    {{ estado.label }}
                  </option>
                </select>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <button type="submit" class="btn text-white px-5 buttonF">Agregar</button>
            </div>
        </form>


        <!---->

        
          <form *ngIf="editUserDomain" (submit)="updateUser()" [formGroup]="userForm">
              <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="{{user.name}}" formControlName="name">
                </div>
              </div>
              <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label">Contraseña:</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Ingresa la contraseña" formControlName="password">
                </div>
              </div>
              <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label only">Nivel:</label>
                <div class="col-sm-10">
                  <select class="form-select" formControlName="level">
                    <option *ngFor="let nivel of niveles" [value]="nivel.value">
                      {{ nivel.label }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Estados:</label>
                <div class="col-sm-10">
                    <select class="form-select" formControlName="status">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                      </select>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                <button type="submit" class="btn text-white px-5 buttonF me-md-2 me-0 mb-3 mb-md-0">Actualizar</button>
                <a class="btn text-white px-5 buttonF" (click)="cancelarEdicion()">Cancelar</a>
              </div>
          </form>
        </div>
    </div>





    
    <div class="card col-12">
      <div class="card-header text-white">
        Tabla Usuarios
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-center">
              <tr class="">
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Nivel</th>
                <th scope="col">Estado</th>
                <th scope="col">Backtesting</th>
                <th scope="col">CuentaAuditada</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody class="text-center table-group-divider">
              <tr class="" *ngFor="let userItem of listUserDomain; let i = index">
                <td>{{userItem.name}}</td>
                <td class="">{{userItem.email}}</td>
                <td>{{userItem.userLevel}}</td>
                <td>{{userItem.status}}</td>
                <td><a href="{{userItem.backtesting}}" target=”_blank”>click aqui</a></td>
                <td><a href="{{userItem.auditedAccount}}" target=”_blank”>click aqui</a></td>
                <td class="d-flex justify-content-center">
                  <a (click)="editUser(i)"  class="btn btn-warning boton me-3"><i class="fa-solid fa-pen"></i></a>
                  <a (click)="deleteUser(i)" class="btn btn-danger boton"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>

    </div>
</div>


