.about{
    background-color: white;
}


.titleAbout{
    background-color: #cdbae9;
    border-radius: 14px;
    width: calc(20vh);
}

@media screen and (min-width:993px){
    .titleAbout{
       width: calc(50vh);
    }
    
}

p{
    word-break: break-all;
    word-wrap: break-word;
}

.pepe{
    margin-left: 6vw;
    margin-right: 6vw;
    border-color: #9956dd;
    border-radius: 30px !important;
    border-width: 2px;
    border-color: #9956dd;
    box-shadow: 0px 4px 16px 0px #9956dd;
    
}

i{
    color: #9956dd;
}
