.about{
    background: #000000;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #16003d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #16003d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* #200f25d5 morado clarito #0b0414 */
}


.titleAbout{
    background-color: #cdbae9;
    border-radius: 14px;
    width: 40%;
    padding: 8px;
}

.pepe{
    padding: 4%;
    margin-left: 6%;
    margin-right: 6%;
    border-color: #9956dd;
    border-radius: 30px !important;
    border-width: 2px;
    box-shadow: 0px 4px 16px 0px #fff;
    
}

i{
    color: #9956dd;
}
