.about{
    background-color: white;
}


.titleAbout{
    background-color: #cdbae9;
    border-radius: 14px;
    width: 40%;
}

.pepe{
    padding: 4%;
    margin-left: 6%;
    margin-right: 6%;
    border-color: #9956dd;
    border-radius: 30px !important;
    border-width: 2px;
    border-color: #9956dd;
    box-shadow: 0px 4px 16px 0px #9956dd;
    
}

i{
    color: #9956dd;
}
