<div class="container-fluid d-flex justify-content-center align-items-center max-vh-100 min-vh-100 about text-center p-5"  id="quienesSomos">
    <div class="card rounded custom-card pepe">
        <div class="card-body aboutS ">
            <div class="titleAbout mx-auto text-center mb-5 p-1">
                <h1>¿Quienes Somos?</h1>
            </div>
            <p class="card-text fs-3">Somos TradingUpFundation! Tu punto de partida en el apasionante mundo de los mercados financieros! Nuestro programa teórico-práctico ha sido meticulosamente diseñado para guiarte desde los fundamentos hasta las operaciones avanzadas en los mercados bursátiles y extrabursátiles.</p>
            <br>
            <p class="card-text fs-3">Nuestro principal objetivo es brindarte un profundo entendimiento de los mercados financieros, capacitarte para que puedas identificar oportunidades y darte las herramientas necesarias para tomar decisiones fundamentales y técnicas informadas sobre tus activos preferidos. Queremos verte no solo operando, sino operando con consistencia y confianza.
                
            </p>
        </div>
    </div>
</div>
