.background{
    background: #000000;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #16003d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #16003d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* #200f25d5 morado clarito #0b0414 */
}
h1{
    padding: 0%;
    margin: 0%;
}

