<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-white p-5" id="misionVision">
    <div class="row">
      <div class="col-md-6 p-4">
        <div class="card d-flex flex-column justify-content-center align-items-center mx-auto cardMision">
          <div class="card-body text-center p-5">
            <h2 class="card-title mb-xxl-4 mb-5 titleVS mx-auto text-center">Misión</h2>
            <section class="">
            <p class="card-text fs-4 ">
                Nuestra misión es proporcionar a nuestros estudiantes las habilidades y conocimientos necesarios
                 para convertirse en traders exitosos en los mercados bursátiles y extra bursátiles. 
            </p>
            <p class="card-text fs-4">
                Ofrecemos una
                 educación de calidad, combinando teoría y práctica. De esta manera nuestros estudiantes pueden
                tomar decisiones correctas y lograr la consistencia en su rentabilidad. Buscamos ser reconocidos
                 como una academia líder en la formación de trader, brindando un ambiente de aprendizaje
                 inspirador y fomentando el crecimiento personal y profesional de nuestros estudiantes.
            </p>
            </section>
            <br>
            <img [src]="mision1" alt="" width="60px"> <!--#DB42BA-->
          </div>
        </div>
      </div>
      
      <div class="col-md-6 mt_5 p-4">
        <div class="card h-100 d-flex flex-column justify-content-center align-items-center mx-auto cardVision">
          <div class="card-body text-center p-4">
            <h2 class="card-title mb-xxl-4 mb-5 titleVS mx-auto text-center">Visión</h2>
            <section class="">
            <p class="card-text fs-4">Convertirnos en la academia de referencia a nivel global para aquellos interesados en el mundo del
                    trading. 
            </p>
            <p class="card-text fs-4">
                Seremos reconocidos por la excelencia académica y la calidad de nuestro programa de
                formación, asi como por el éxito de nuestros graduados en los mercados financieros. Donde los
                traders encuentren apoyo, mentoría y oportunidades para desarrollar su potencial al máximo.
            </p>
        </section>
        <br>
        <img [src]="vision2" alt="" width="70px">
          </div>
        </div>
      </div>
    </div>
  </div>