.cardMision{
    border-color: #9956dd;
    box-shadow: 0px 4px 16px 0px #9956dd;
}

#misionVision{
    background: #000000;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #16003d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #16003d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* #200f25d5 morado clarito #0b0414 */
}

.cardVision{
    border-color: #9956dd;
    box-shadow: 0px 4px 16px 0px #9956dd;
}

.titleVS{
        background-color: #cdbae9;
        border-radius: 14px;
        width: calc(20vh);
        padding: 3px;

}

@media screen and (max-width:767px){
    .mt_5{
        margin-top: calc(3vh);
    }
    p{
        word-break: break-all;
        word-wrap: break-word;
    }
    
}




  
  

