<div class="container col-12 d-flex flex-column align-items-center min-vh-100">
    <div class="header d-flex justify-content-end align-items-start pe-4 pt-3 mb-5 col-12"   [ngStyle]="{'background-image': 'url(' + wallpaper1 + ')'}">
        <h1 class="text-white">Nivel 1</h1>
    </div>

    <h3 class="content-text">Contenido del Curso</h3>

    <div class="accordion col-10 mb-5 bg-white" id="accordionExample">
      <br>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed bg_purple text-white content " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Nivel 1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="content-text">Introducción al trading y el análisis técnico</strong> <br> Que es el trading?, que conforma una cotización en los mercados financieros y el uso de distintas herramientas que te permitirán evaluar un activo desde los parámetros técnicos, logrando así un entendimiento básico donde podrás especular los movimientos futuros a corto y largo plazo. Generando un plan de trading adecuado a tu perfil de riesgo.
            <hr>
            <strong>Temas del Nivel 1</strong>
            <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magni facere a architecto deserunt eveniet illo debitis, fugit ullam esse corrupti, quas exercitationem voluptatibus fuga provident sequi ex ratione omnis.
          </li>
          </div>
        </div>
      </div>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed bg_purple text-white content" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Nivel 2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="content-text">Aprenderás a negociar</strong> <br> Aprenderás a negociar desde fundamentos chartistas, donde podrás a utilizar la geometría en los mercados financieros, aprenderás a evaluar metodologías y crear tu propio track-record. seminario introductorio al psicotrading (El por qué de las emociones).
            <hr>
            <strong>Temas del Nivel 2</strong>
            <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magni facere a architecto deserunt eveniet illo debitis, fugit ullam esse corrupti, quas exercitationem voluptatibus fuga provident sequi ex ratione omnis.
          </li>
          </div>
        </div>
      </div>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed bg_purple text-white content" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Nivel 3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong class="content-text">Introducción al Elliotismo</strong> <br> En este punto lograras armonizar distintas metodologías técnicas con el objetivo de afianzar reglas de entrada. las cuales te ayudaran a aumentar tu track-record. Seminario Psicotrading parte II (Quien soy yo frente a los mercados financieros y por qué soy asi)
            <hr>
            <strong>Temas del Nivel 3</strong>
            <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magni facere a architecto deserunt eveniet illo debitis, fugit ullam esse corrupti, quas exercitationem voluptatibus fuga provident sequi ex ratione omnis.
          </li>
          </div>
        </div>
      </div>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed bg_purple text-white content" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Nivel 4
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body border">
            <strong class="content-text">Introducción al Elliotismo II</strong> <br> Le daremos continuidad al nivel anterior, sumando parámetros de salida para tu operativa, con el fin de aumentar el ratio de Riesgo-Beneficio de tu operativa. En este nivel se da apertura a al análisis fundamental. Seminario psicotrading (Mi mente domina mi cuerpo y no mi cuerpo a mi mente)
            <hr>
            <strong>Temas del Nivel 4</strong>
            <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magni facere a architecto deserunt eveniet illo debitis, fugit ullam esse corrupti, quas exercitationem voluptatibus fuga provident sequi ex ratione omnis.
          </li>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center  mb-5 py-5">
      <img [src]="image1" class="col-12 imagestart" >
    </div>

    <div class="card cards border-3  mb-3" style="max-width: 55rem;">
      <div class="card-body  text-dark">
        <strong class="card-text">
          <em>"En el trading, cada decisión es una oportunidad. Aprovecha cada día para aprender, crecer y alcanzar tus metas. Recuerda, la consistencia y la determinación te llevarán al éxito. ¡Tú puedes lograrlo!"</em></strong>
      </div>
    </div>
    
</div>




