<div class="col-12 inherit text-white px-3 d-flex align-items-center">
    <div class="col-md-10 col-sm-10 col-10">
        <h1 type="submit" (click)="clickSlide()" class="title">
            <img [src]="logo" alt="logo" width="70" class="d-md-inline-flex d-none">
            TradingUpFundation
        </h1>
    </div>
    <div class="col-md-2 col-sm-2 col-2">
        <!-- Dropdown de usuario -->
        <div class="dropdown d-flex justify-content-end pe-4">
            <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="far fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="#">Usuario</a></li>
                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</div>








