.header{
    height: 10rem;
    background-position: right;
    background-size: cover;
}

.bg_purple{
    border: 2px;
    border-color: white;
    background-color: #6037a9;
}

.content-text{
    display: flex;
    justify-content: center;
}

.content:focus{
  box-shadow: 0 0 10px 0px #ba74ff;
  border-color: rgb(46, 9, 68); 
}
  
.accordion-button:active, .accordion-button:focus {
  border: none !important;
}
  
.accordion-button:hover {
    background: #926ad6 !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E%0A");
    transition: all 0.5s;
    filter: invert(100%);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    filter: invert(100%);
}

@media screen and (min-width:769px){
    .imagestart{
       width: calc(30vh);
}   
}

@media screen and (max-width:768px){
  .imagestart{
     width: calc(20vh);
  } 
}

.cards{
  border-color: #9965dd;
  box-shadow: 0px 4px 16px 0px #9965dd;
  border-width: 2px;
  padding: 10px;
}
  

