.pie-pagina{
    background: #000000;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #16003d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #16003d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* #200f25d5 morado clarito #0b0414 */

    width: 100%;
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box .fiure img{
    width: 250px;
}

.pie-pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #4c288a;    
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo1 .red-social a :hover{
    color: rgb(143, 96, 230);
    transition: 0.2s;
}

.pie-pagina .grupo2{
    background-color: #2a0f58;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small{
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

p{
    word-break: break-all;
    word-wrap: break-word;
}


