<div id="comun">
    <footer class="pie-pagina" id="#comunity">
        <div class="grupo1">
            <div class="box">
                <figure>
                        <img [src]="logo" alt="logo" width="160px"> 
                        <h4 class="text-white">TradingUpFoundation</h4>
                </figure>
            </div>
            <div class="box">
                <h2 class="text-bold">¿Por qué aprender con nosotros?</h2>
                <p>Brindamos conocimientos sólidos y prácticos proporcionando una experiencia educativa excepcional, respaldada por expertos en la industria, herramientas de vanguardia y un enfoque centrado en el éxito del estudiante. Únete a nosotros y descubre el camino hacia la maestría en trading con un equipo comprometido a tu crecimiento financiero.</p>
            </div>
            <div class="box">
                <h2>Siguenos!</h2>
                <div class="red-social">
                    <a href="https://www.tiktok.com/@tradingupfundation" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://discord.gg/8nnew6AN" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=573193793654&text=Hola%21+Somos+TradingUpFoundation%2C+Estas+interesado+en+alguno+de+nuestros+cursos%3F+D%C3%A9janos+saber+todas+tus+inquietudes+aqu%C3%AD%21" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2023 <b>TradingUpFundation</b> - Todos los derechos reservados.</small>
        </div>
        
    </footer>
</div>
