<footer class="pie-pagina" id="#comunity">
    <div class="grupo1">
        <div class="box">
            <figure>
                    <img [src]="logo" alt="logo" width="160px"> 
                    <h4 class="text-white">TradingUpFundation</h4>
            </figure>
        </div>
        <div class="box">
            <h2>Sobre Nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, debitis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, debitis?</p>
        </div>
        <div class="box">
            <h2>Siguenos!</h2>
            <div class="red-social">
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-discord"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy; 2023 <b>TradingUpFundation</b> - Todos los derechos reservados.</small>
    </div>
    
</footer>
