.bg_color{
    background-color: rgb(255, 255, 255);
}

.h_87{
    min-height: 87vh;
    background: #210256;
    margin-top: 13vh;

}

.h_88{
    min-height: 87vh;
    background-color: white;
    margin-top: 13vh;

}

.p_5{
    margin-top: 13vh;
}