<div class="container-fluid d-grid background min-vh-100 text-white p-5" id="curso">
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="text-center mb-md-4 mb-sm-4 mb-4">Programas de entrenamiento</h1>
    </div>
    <div>
        <h5 class="text-center  mb-5 mb-md-1">Aprende a operar en los mercados con disciplina, enfoque y confianza</h5>
    </div>
    <div class=" flex_columns grid_columns align-items-end">
        <div class="card col-sm-12 col-md-12 col-lg-3 p-sm-5 p-md-5 p-lg-5 p-xl-5 p-xxl-5 p-4 nivel mb-sm-3 mb-3">
            <h4 class="text-center tituloNivel">Nivel 1</h4>
            <h5 class="text-center">Introducción al trading y el análisis técnico</h5>
            <img [src]="velas" alt="" class="mx-auto py-3">
            <p class="text-center">Que es el trading?, que conforma una cotización en los mercados financieros y el uso de distintas herramientas que te permitirán evaluar un activo desde los parámetros técnicos, logrando así un entendimiento básico donde podrás especular los movimientos futuros a corto y largo plazo. Generando un plan de trading adecuado a tu perfil de riesgo.</p>
        </div>
        <div class="card col-sm-12 col-md-12 col-lg-3 p-5 nivel mb-sm-3 mb-3">
            <h4 class="text-center tituloNivel">Nivel 2</h4>
            <h5 class="text-center">Aprenderás a negociar </h5>
            <img [src]="chartismo" alt="" class="mx-auto py-3">
            <p class="text-center">Aprenderás a negociar desde fundamentos chartistas, donde podrás a utilizar la geometría en los mercados financieros, aprenderás a evaluar metodologías y crear tu propio track-record. seminario introductorio al psicotrading (el por que de las emociones).</p>
        </div>
        <div class="card col-sm-12 col-md-12 col-lg-3 p-5 nivel mb-sm-3 mb-3">
            <h4 class="text-center tituloNivel">Nivel 3</h4>
            <h5 class="text-center">Introduccion al Elliotismo</h5>
            <img [src]="toro" alt="" class="mx-auto py-3">
            <p class="text-center">En este punto lograras armonizar distintas metodologías técnicas con
                el objetivo de afianzar reglas de entrada. las cuales te ayudaran a aumentar tu track-record.
                Seminario Psicotrading parte II (Quien soy yo frente a los mercados financieros y por qué soy asi)</p>
        </div>
        <div class="card col-sm-12 col-md-12 col-lg-3 p-5 nivel mb-sm-3 mb-3">
            <h4 class="text-center tituloNivel">Nivel 4</h4>
            <h5 class="text-center">Introduccion al Elliotismo</h5>
            <img [src]="book" alt="" class="mx-auto py-3">
            <p class="text-center">Le daremos continuidad al nivel anterior, sumando parámetros de salida para tu operativa, con el fin de aumentar el ratio de Riesgo-Beneficio de tu operativa.
            En este nivel se da apertura a al análisis fundamental. 
            Seminario psicotrading (mi mente domina mi cuerpo y no mi cuerpo a mi mente)</p>
        </div>
    </div>
</div>
