<div class="container">
  <h2>Introduccion al Trading</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
  </div>
</div>

<iframe class='sproutvideo-player' src='https://videos.sproutvideo.com/embed/7090d2b0161debc0f9/4b0cd3e08bee1545' width='640' height='358' frameborder='0' allowfullscreen referrerpolicy='no-referrer-when-downgrade' title='Video Player'></iframe>
