<div class="container d-flex col-12 justify-content-evenly">
    <div class="card" style="width: 18rem;">
        <img [src]="book1" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Trading Sin Ego</h5>
          <p class="card-text">Aprende a controlar tus cesgos egolatras</p>
          <hr>
          <div class="d-flex justify-content-evenly">
            <a href="#" class="btn btn-warning"><i class="fa-solid fa-eye"></i></a>
            <a href="#" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
          </div>
          
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img [src]="book2" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Trading Sin Ego</h5>
          <p class="card-text">Aprende a controlar tus cesgos egolatras</p>
          <hr>
          <div class="d-flex justify-content-evenly">
            <a href="#" class="btn btn-warning"><i class="fa-solid fa-eye"></i></a>
            <a href="#" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
          </div>
          
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img [src]="book1" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title text-center">Trading Sin Ego</h5>
          <p class="card-text">Aprende a controlar tus cesgos egolatras</p>
          <hr>
          <div class="d-flex justify-content-evenly">
            <a href="#" class="btn btn-warning"><i class="fa-solid fa-eye"></i></a>
            <a href="#" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
          </div>
          
        </div>
      </div>

      
</div>
