.navbar-inner {
    background-color:transparent;
}

.navbar{
    background: #000000;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, transparent);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* #200f25d5 morado clarito #0b0414 */
}