<nav [ngClass]="{ 'scrolled': scrolled }" class="navbar navbar-expand-lg navbar-dark fixed-top p-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">
        <img [src]="imagen_logo" width="70px" alt="">  Trading Up Fundation
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="nav-link" (click)="scroll('quienesSomos')">Quienes somos?</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="scroll('misionVision')">Vision y Mision</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.ht|ml">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comunidad</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
