<div class="container w-100 bg-light rounded background mt_5">
    <div class="row align-items-stretch">
        <div class="col bg-image d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

        </div>
        <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
                <img [src]="logo" width="70px" class="my-0.2" alt="">
            </div>
            <h2 class="fw-bold text-center py-4">Bienvenido a TradingUpFoundation</h2>

            <form (ngSubmit)="serviceLogin()" [formGroup]="userForm" action="">
                <div class="mb-4">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control custom-input" name="correo" formControlName="email"
                        [placeholder]="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched ? 'Ingresa un correo electrónico válido' : ''"
                        [ngClass]="{'error-placeholder': userForm.get('email')?.hasError('required') && userForm.get('email')?.touched}">
                </div>
                <div class="mb-5">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control custom-input" name="contraseña"
                        formControlName="password"
                        [placeholder]="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched ? 'Ingresa una contraseña válida' : ''"
                        [ngClass]="{'error-placeholder': userForm.get('password')?.hasError('required') && userForm.get('password')?.touched}">
                        <div *ngIf="errorMessage" class="d-flex align-items-center mt-4">
                            <i class="fa-solid fa-circle-exclamation me-2"></i>
                            <div>
                                {{errorMessage}}
                            </div>
                        </div>
                </div>
                
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
                <div class="my-3">
                    <p>No tienes una cuenta?</p>
                    <span><a href="#" routerLink="/home-page" (click)="scrollToComponent()">Contáctanos</a></span>
                </div>
            </form>
        </div>
    </div>
</div>