<section class="team py-5 text-black min-vh-100" id="team">
    <div class="container">
        <h1 class="py-5">Nuestro Equipo</h1>
        <div class="row">
            <div class="col-md-6 profile text-center mt-4">
                <div class="img-box">
                    <img [src]="person1" class="img-responsive" alt="">
                </div>
                <h2>Guillermo Leon Zambrano</h2>
                <h3>Economista</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deserunt quisquam unde cum repudiandae necessitatibus</p>
            </div>
            <div class="col-md-6 profile text-center">
                <div class="img-box">
                    <img [src]="person1" class="img-responsive"alt="">
                </div>
                <h2>Guillermo Leon Zambrano</h2>
                <h3>Economista</h3>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deserunt quisquam unde cum repudiandae necessitatibus</p>
            </div>
        </div>

    </div>
</section>