.team{
    background-color: white;
}

h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

h1::after{
    content: '';
    background-color: black;
    display: block;
    height: 3px;
    width: 270px;
    margin: 10px auto;
}

.profile{
    margin-top: 25px;
}

.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}

.profile h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

img{
    width: 45%;
}

