.team {
    background-color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    
}

.cards {
    border: 2px solid #9965dd;
    background-color: #9965dd;
    padding: 10px;
    height: calc(7vh);
    width: calc(45vw);
    display: flex;
    margin: 0 auto; 
}

@media screen and (max-width: 768px) {
    .cards {
        height: calc(10vh);
        width: calc(80vw);
        margin: 0 auto; 
    }
}

h5 {
    text-align: center;
    letter-spacing: 0.9px;
}

/* Estilos para las imágenes SVG */
.imagesequipo svg {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
}

@media screen and (min-width: 769px) {
    .imagesequipo {
        width: calc(65vh);  
        margin: 0 auto; 
    }
}

@media screen and (max-width: 768px) {
    .imagesequipo {
        width: calc(85vw); 
        margin: 0 auto; 
    }
}


