<div class="pt-3 px-4">
    <h4 class="text-white" type="submit" (click)="dropDown()">Entregas</h4>
    <div *ngIf="dropdown">
        <ul class="text-white px-5"> 
            <li class="">Backtesting</li>
        </ul>
    </div>
</div>

<div class="pt-2 px-4">
    <h4 class="text-white" type="submit" (click)="dropDown()">Clases</h4>
    <div *ngIf="dropdown">
        <ul class="text-white px-5"> 
            <li class="pb-1"><a href="">Contenido del Curso</a></li>
            <li class="pb-1">Clases</li>
            <li>Ejercicios en clase</li>
        </ul>
    </div>
</div>

<div class="pt-2 px-4">
    <h4 class="text-white">Biblioteca</h4>
    <ul class="text-white px-5"> 
        <li>Libros PDF</li>
    </ul>
</div> 


